.footer {
    background-color: #222;
    color: #fff;
    padding: 3em;
    text-align: center;
}

.socialList {
    display: flex;
    justify-content: center;
    list-style: none;   
}

.items {
    margin: 0 1em;
}

.items:hover {
    color: #ffbb33;
}

.items svg {
   font-size: 1.5em;
   cursor: pointer;
}

.copy_right {
    margin-top: 2em;
}

.copy_right span {
    font-weight: bold;
    color: #ffbb33;
}
